# Configuración de cabeceras CORS
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

# Redirigir las solicitudes OPTIONS a un script vacío para manejar preflight requests
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [QSA,L]

# Habilitar el módulo de encabezados si no está habilitado
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    
    # Para solicitudes OPTIONS, simplemente devolver 200 OK
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

# Configuración para archivos PHP
<IfModule mod_php7.c>
    php_flag display_errors on
</IfModule>
<IfModule mod_php8.c>
    php_flag display_errors on
</IfModule>