RewriteEngine On

# Redirigir las solicitudes de la API a los archivos PHP correspondientes
RewriteRule ^api/users/login$ php/login.php [L]
RewriteRule ^api/users/register$ php/register.php [L]
RewriteRule ^api/users/profile$ php/profile.php [L]
RewriteRule ^api/users/logout$ php/logout.php [L]

# Servir archivos estáticos del frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ../frontend/$1 [L]